@model Vira.Models.Siniflar.YakitAnaliz
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>


<script>
    $(document).ready(function () {
        $('#liste').click(function () {
            var Yil = $("#Yil").val();
            var AracId = $("#AracId").val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("VisualizeOrtalamaTuketimResult", "GrafikYakitTakip")',
                data: { 'Yil': Yil, 'AracId': AracId },
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
    });
    function drawChart(result) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Aylık Ortalama Tüketimi');
        data.addColumn('number', 'Yıllık Ortalama Tüketim');
        var dataArray = [];
        $.each(result, function (i, obj) {
            dataArray.push([obj.AyAd, obj.AylikOrtalamaTuketim, obj.YillikOrtalamaTuketim]);
        });
        data.addRows(dataArray);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            }, 2,
            {
                calc: "stringify",
                sourceColumn: 2,
                type: "string",
                role: "annotation"
            }]);
        var columnChartOptions = {
            title: "Yakıt Analiz Grafiği",
            //width: 200,
            height: 400,
            bar: { groupWidth: "50%" },
            hAxis:
            {
                title: 'Aylar',
                titleTextStyle: { color: '#333' },
                slantedText: true,
            }
        };
        var columnChart = new google.visualization.LineChart(document
            .getElementById('columnchart_div'));
        columnChart.draw(view, columnChartOptions);
    }
    window.onresize = drawChart;
</script>

<br />
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Yakıt Analiz Grafiği</div>
    <div class="card-body">
        <div>
            @*<form action="@Url.Action("Index", "RaporYakitTakip")" method="post">
                </form>*@
            <div class="form-horizontal">
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-1"><b>Yıl</b></label>
                    <div class="col-2">
                        @Html.DropDownListFor(x => x.Yil, (List<SelectListItem>)ViewBag.yYil, "- Seçiniz -", new { @class = "form-control", @style = "width:120px;" })
                    </div>
                    <label class="col-form-label-sm col-2"><b>Araç Plaka</b></label>
                    <div class="col-2">
                        @Html.DropDownListFor(x => x.AracId, (List<SelectListItem>)ViewBag.aPlaka, "Seçiniz", new { @class = "form-control", @style = "width:150px" })
                    </div>
                    <div class="col-1">
                        <button id="liste" style="width:100px;" type="submit" class="btn btn-success">Listele</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div Style="font-family: Corbel; text-align:center; height:500px; " class="card-body ">
            <div id="columnchart_div"></div>
        </div>
    </div>
</div>