@model Vira.Models.Dosya

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Dosya Yükleme</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("DosyaYukle", "Fatura")" method="post" enctype="multipart/form-data">
            <hr />
            <input hidden id="FaturaId" name="FaturaId" value="@ViewBag.fId" />
            <div class="form-horizontal">
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-4 text-right" style="color:red"><b>Dosya Türü</b></label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.DosyaTuruId, (List<SelectListItem>)ViewBag.dListe, "-- Seçiniz --", new { @class = "form-control", @style = "width:30%" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-4 text-right" style="color:red"><b>Dosya Seç</b></label>
                    <div class="col-sm-8">
                        <input type="file" name="DosyaYolu" />
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-info">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>
