@model Vira.Models.Fatura

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Başlığı Girişi</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("FaturaEkle", "Fatura")" method="post">
            <hr />
            <div class="form-horizontal">
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura No</b></label>
                    <div class="col-md-9">
                        <input style="width:170px;" type="text" class="form-control" name="FaturaNo" placeholder="Fatura No" maxlength="16" required oninvalid="this.setCustomValidity('Bu alan boş geçilemez!')" oninput="setCustomValidity('')" />
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right" style="color:red"><b>Fatura Tipi</b></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.FaturaTipi, (List<SelectListItem>)ViewBag.tListe, "- Seçiniz -", new { @class = "form-control", @style = "width:120px", @required = "" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura Tarihi</b></label>
                    <div class="col-md-9">
                        <input style="width:160px;" type="date" class="form-control" name="FaturaTarihi" />
                    </div>
                </div>
                <br />
                <div class="container form-group row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Kurum</b></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.KurumId, (List<SelectListItem>)ViewBag.kList, "----------------------- Seçiniz ----------------------", new { @class = "form-control", @style = "width:400px", @required = "" })
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-info">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>