<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Evrak Eki Girişi</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <hr />
        <div>
            <button class="btn btn-sm btn-success" id="addRow">Yeni Satır Ekle</button>
        </div>
        <br />
        <table id="example" class="table table-bordered table-hover table-sm display" style="width:100%">
            <thead>
                <tr>
                    @*<th style="width:10%"></th>*@
                    <th style="width:90%"><small><strong>Ek Adı</strong></small></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
            <button class="btn btn-info" id="but" type="submit">Kaydet</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            "paging": false,
            "searching": false,
            "info": false,
            "columnDefs": [{
                orderable: false,
                targets: [0]
            }]
        });
        var counter = 1

        $('#addRow').on('click', function () {
            table.row.add([
                //'Ek - ' + counter ,
                '<tr><td><input style="width:100%" type="text"/></td></tr>'
            ]).draw(false);

            counter++;
        });

        function but(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "@Url.Action("EkEkle", "GelenEvrak")",
                data: data,
                success: function (result) {
                    //alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }

        $('#but').click(function () {
            //var orderArr = table.$('input').serializeArray();
            var orderArr = [];
            //orderArr.length = 1;
            $.each($("#example tbody tr td"), function () {
                orderArr.push({
                    EvrakEkAdi: $(this).find('input:eq(0)').val()
                });
            });
            var data = JSON.stringify({
                GelenEvrakId:@ViewBag.gelEvrakId,
                Ekler: orderArr
            });
            $.when(but(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    });
</script>
