
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VİRA ELEKTRİK ÜRETİM A.Ş.</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/vira.ico" />
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/login-yeni.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    @*<link href="~/Content/all.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
</head>
<body>
    <div class="main">


        <div class="container">
            <center>
                @*<div style="color:black"><h4>PROJE YÖNETİM SİSTEMİ</h4></div>*@<br />
                <div class="middle">
                    <div id="login">
                        @*<form action="javascript:void(0);" method="get">*@
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <fieldset class="clearfix">
                                <p><span class="fa fa-user"></span><input type="text" name="KullaniciAdi" Placeholder="Kullanıcı Adı" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                                <p><span class="fa fa-lock"></span><input type="password" name="Sifre" Placeholder="Şifre" required></p> <!-- JS because of IE support; better: placeholder="Password" -->

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">
                                            @*Forgot
                                                password?*@
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="GİRİŞ"></span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        }

                        @*</form>*@

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">
                        <img src="~/Images/viraLogoY.jpg" />
                        <div class="clearfix"></div>

                    </div>
                </div>
            </center>
        </div>

    </div>
</body>
</html>